@{
    ViewBag.Title = "Home Page";
}

</br>
<h4><b>Organize melhor suas campanhas de telemarketing com nossa solução !</b></h4>

Separe sua base por planilhas e organize melhor suas campanhas e filtros de empréstimo consignado.
<html lang="pt-br">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CreditSurvey</title>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo-lightbox/nivo-lightbox-theme.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/classie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/jquery-1.11.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/modernizr.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/nivo-lightbox.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/owl-carousel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/smoothscroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/CreditSurvey/lucy-master/js/wow.min.js")"></script>
    <script src="js/modernizr.custom.js"></script>

</head>
<body>

    <a href="#header" id="back-to-top" class="top"><i class="fa fa-chevron-up"></i></a>
    <!-- HHHHHHHHHHHHHHHHHH        Preloader          HHHHHHHHHHHHHHHH -->
    <!-- <div id="preloader"></div> -->
    <!-- HHHHHHHHHHHHHHHHHH        Header          HHHHHHHHHHHHHHHH -->
    <section id="header" class="header">
        <div class="top-bar">
            <div class="container">
                <div class="navigation" id="navigation-scroll">
                    <div class="row">
                        <div class="col-md-11 col-xs-10">
                            <a href="index.html"><span id="logo"><strong>Credit</strong>Survey</span></a>
                        </div>
                        <div class="col-md-1 col-xs-2">
                            <p class="nav-button">
                                <button id="trigger-overlay" type="button">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </p>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.navigation -->
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <div class="container">
            <div class="starting">
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/fundo.png">
                    </div>
                    <div class="col-md-6">
                        <div class="banner-text">
                            <h2 class="animation-box wow bounceIn animated">
                                <strong class="strong">Campanhas de crédito personalizadas!</strong><br>
                            </h2>
                            <p>
                                <strong>Credit</strong>Survey é uma empresa que oferece conjuntos de ferramentas para otimizar a prospecção de clientes para campanhas empresariais!
                            </p>
                            <a href="#section-login" class="btn btn-download wow animated fadeInLeft">
                                <i class="pull-left"></i>
                                <strong>Sou Cliente!</strong>
                                <br />Fazer Login
                            </a>
                            <a href="#section-contato" class="btn btn-download wow animated fadeInRight">
                                <i class="text-center pull-left"></i>
                                <strong>Contato</strong>
                                <br />Enviar contato!
                            </a>
                        </div> <!-- /.banner-text -->
                    </div>
                </div>
            </div>
            <!-- /.starting -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#header -->
    <!-- HHHHHHHHHHHHHHHHHH        Video          HHHHHHHHHHHHHHHH -->
    <div id="video" class="wrapper">
        <div class="container">
            <h2 class="animation-box wow bounceIn animated">Saiba mais!</h2>
            <div class="virticle-line"></div>
            <div class="circle"></div>
            <img src="img/background2.jpg" alt="feature" class="video img-responsive animation-box wow animated bounceInDown">
            <hr>
            <h2>
                Sejam nossos clientes e obtenham as melhores campanhas de crédito com o melhor custo benefício do mercado!
            </h2>

        </div> <!-- /.container -->
    </div> <!-- /#video -->
    <!-- HHHHHHHHHHHHHHHHHH        Bigfeature         HHHHHHHHHHHHHHHH -->
    <section id="bigfeatures" class="img-block-3col wrapper">

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <ul class="item-list-right item-list-big">
                        <li class="wow fadeInLeft animated">
                            <i class="fa fa-film"></i>
                            <h3>Preço Acessível</h3>
                            <p>Oferecemos os melhores pacotes para cada cliente!</p>
                        </li>
                        <li class="wow fadeInLeft animated">
                            <i class="fa fa-bolt"></i>
                            <h3>Personalização de campanhas</h3>
                            <p>Obtenha campanhas de crédito personalizadas!</p>
                        </li>
                        <li class="wow fadeInLeft animated">
                            <i class="fa fa-heart"></i>
                            <h3>Acompanhamento de especialistas</h3>
                            <p>Contamos com diversos especialistas no mercado para auxilia-los!</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="item-list-left item-list-big">
                        <li class="wow fadeInRight animated">
                            <i class="fa fa-life-ring"></i>
                            <h3>Feedback de campanhas</h3>
                            <p>Estamos sempre melhorando para melhor atendê-los!</p>
                        </li>
                        <li class="wow fadeInRight animated">
                            <i class="fa fa-lock"></i>
                            <h3>Suporte 24 horas</h3>
                            <p>Contamos com equipes sempre disponíveis!</p>
                        </li>
                        <li class="wow fadeInRight animated">
                            <i class="fa fa-star"></i>
                            <h3>Personalização</h3>
                            <p>Modulos com personalização exclusivas!</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-md-pull-4 text-center">
                    <div class="animation-box wow bounceIn animated">
                        <img class="highlight-left wow animated" src="img/spark.png" height="192" width="48" alt="">
                        <img class="highlight-right wow animated" src="img/spark.png" height="192" width="48" alt="">
                        <!--<img class="screen" src="img/front.png" alt="" height="581" width="300">-->
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </section> <!-- /#bigfeatures -->
    <!-- HHHHHHHHHHHHHHHHHH        Speciality         HHHHHHHHHHHHHHHH -->
    <div id="speciality" class="wrapper">
        <div class="container">
            <h2 class="animation-box wow bounceIn animated">Conheça nossos filtros!</h2>
            <div class="virticle-line"></div>
            <div class="circle"></div>
            <div class="row">
                <div class="col-sm-4 wow animated fadeInLeft">
                    <div class="special-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <h3>Filtro Básico</h3>
                    <p>
                        Ferramentas básicas para filtragem de clientes!
                    </p>
                </div>
                <div class="col-sm-4 animation-box wow bounceIn animated">
                    <div class="special-icon">
                        <i class="fa fa-usd"></i>
                    </div>
                    <h3>Filtro Premium</h3>
                    <p>
                        Filtragem avançada de clientes!
                    </p>
                </div>
                <div class="col-sm-4 wow animated fadeInRight">
                    <div class="special-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Filtro Personalizado</h3>
                    <p>
                        Crie seus próprios filtros com as ferramentas disponíveis!
                    </p>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#speciality -->
    <!-- HHHHHHHHHHHHHHHHHH        Features         HHHHHHHHHHHHHHHH -->
    <section id="features" class="wrapper features">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-4 col-sm-4 wow animated fadeInLeft">
                    <img src="img/mb2.png" alt="" class="pull-right left-img">
                </div>-->
                <div class="col-md-4 col-sm-4 wow animated fadeInLeft">
                    <div class="features-list">
                        <h3>Filtro Básico</h3>
                        <p>
                            Perfeito para empresas com campanhas genéricas!
                        </p>
                        <ul class="right">
                            <li class="li"><i class="fa fa-chevron-right"></i> 1 filtro de área</li>
                            <li class="li"><i class="fa fa-chevron-right"></i> T-Horse de ePet</li>
                            <li class="li"><i class="fa fa-chevron-right"></i> Emails e alertas padrões</li>
                            <li class="li"><i class="fa fa-chevron-right"></i> Uso em mobile ou web</li>
                            <li class="li"><i class="fa fa-chevron-right"></i> Tarefas de curto prazo</li>

                        </ul>
                    </div> <!-- .features-list -->
                </div><!--.colmd4-->

                <div class="col-md-4 col-sm-4 wow animated bounceIn">
                    <div class="features-list-left">
                        <h3>Filtro Premium</h3>
                        <p>
                            Utilize mais filtros para especializar suas campanhas!
                        </p>
                        <ul class="left">
                            <li class="li"><i class="fa fa-chevron-right"></i>Tarefas ilimitadas</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>2 ePets: T-Robo e T-Horse</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Design moderno e intuitivo</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Mais Alertas</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Emails Personalizáveis</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Tarefas de longo prazo</li>

                        </ul>
                    </div> <!-- .features-list -->
                </div><!--col.md-4-->

                <div class="col-md-4 col-sm-4 wow animated fadeInRight">
                    <div class="features-list-left">
                        <h3>Filtro Personalizado</h3>
                        <p>
                            Filtros ilimitados e complexos para pesquisas com públicos específicos!
                        </p>
                        <ul class="left">
                            <li class="li"><i class="fa fa-chevron-right"></i>Limite de 20 tarefas</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>3 ePets: T-Horse,T-Robo e T-Dog</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Design pedagógico</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Alertas infantis</li>
                            <li class="li"><i class="fa fa-chevron-right"></i>Modelo de tarefas</li>

                        </ul>
                    </div> <!-- .features-list -->

                </div><!--.col-md-4-->
                <!--<div class="col-md-6 col-sm-6 wow animated fadeInRight">
                    <img src="img/mb2v.png" alt="" class="pull-left right-img">
                </div>-->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /#features -->
    <!-- HHHHHHHHHHHHHHHHHH        Price Table          HHHHHHHHHHHHHHHH -->

    <section id="pricing" class="wrapper">
        <div class="banner-overlay bg-color-grad"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <ul class="pricing-table">
                        <li class="wow flipInY animated animated" style="visibility: visible;">
                            <h3>Básico</h3>
                            <span> $0.00 <small>por mês</small> </span>
                            <ul class="benefits-list">
                                <li>Limite 5 tarefas</li>
                                <li>ePet: T-Horse</li>
                                <li>Alertas e emails</li>
                                <li class="not">Tarefas ilimitadas</li>
                                <li class="not">Layout pedagógico</li>
                                <li class="not">Modelos de Tarefas</li>
                            </ul>
                            <a href="#" target="_blank" class="buy"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                        <li class="gold wow flipInY animated animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                            <div class="stamp"><i class="fa fa-star-o"></i>Mais Vendido</div>
                            <h3>Premium</h3>
                            <span> R$10,00 <small>por mês</small> </span>
                            <ul class="benefits-list">
                                <li>Tarefas Ilimitadas</li>
                                <li>ePet: T-Robo</li>
                                <li>Alertas e emails</li>
                                <li>Tarefas ilimitadas</li>
                                <li class="not">Layout pedagógico</li>
                                <li>Modelos de Tarefas</li>
                            </ul>
                            <a href="#" target="_blank" class="buy"> <i class="fa fa-shopping-cart"></i></a>
                        </li>
                        <li class="silver wow flipInY animated animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s;">
                            <div class="stamp"><i class="fa fa-star-o"></i>7 a 14 anos</div>
                            <h3>Personalizado</h3>
                            <span> R$15,00 <small>por mês</small> </span>
                            <ul class="benefits-list">
                                <li class="not">Tarefas Ilimitadas</li>
                                <li>ePets: T-Robo e T-Dog</li>
                                <li>Alertas e emails</li>
                                <li>Tarefas ilimitadas</li>
                                <li>Layout pedagógico</li>
                                <li>Modelos de Tarefas</li>
                            </ul>
                            <a href="#" target="_blank" class="buy"> <i class="fa fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /#pricing -->
    <!-- HHHHHHHHHHHHHHHHHH        Contact Us          HHHHHHHHHHHHHHHH -->
    <section id="contact" class="wrapper">
        <div class="container">
            <div class="row">
                <section id="section-login">
                    <form class="row form wrapper">
                        <h3>Login</h3>
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Usuário</label>
                            <input name="user" class="form-control" type="text" placeholder="Digite seu email ou usuario">
                        </div> <!-- /.form-group -->
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Senha</label>
                            <input name="senha" class="form-control" type="password" placeholder="Digite sua senha">
                        </div> <!-- /.form-group -->
                        <div class="row">
                            <input class="btn btn-sub" type="submit" value="Entrar">
                        </div>
                    </form> <!-- /.row -->
                    <hr>
                </section>

                <div class="col-md-3 contact-item col-sm-6 col-xs-12 wow animated fadeInLeft">
                    <i class="fa fa-map-marker"></i>
                    <h3>Endereço</h3>
                    <p class="contact">
                        Rua Avenida Cotovia, 180 <br>
                        Moema <br>
                        São Paulo
                    </p>
                </div>
                <div class="col-md-3 contact-item col-sm-6 col-xs-12 wow animated fadeInLeft">
                    <i class="fa fa-phone"></i>
                    <h3>Telefone</h3>
                    <p class="contact">
                        (11) 99187-3730<br>

                    </p>
                </div>
                <div class="col-md-3 contact-item col-sm-6 col-xs-12 wow animated fadeInRight">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p class="contact">
                        <a href="mailto:creditsurvey@gmail.com">creditsurvey@gmail.com</a> <br>
                        <a href="www.creditsurvey.com">www.creditsurvey.com</a>
                    </p>
                </div>
            </div> <!-- /.row -->

            <section id="section-contato">
                <form class="row form wrapper">
                    <h3>Contato</h3>
                    <div class="col-sm-4 col-xs-12 form-group">
                        <label class="sr-only">Nome</label>
                        <input name="nome" class="form-control" type="text" placeholder="Nome">
                    </div> <!-- /.form-group -->
                    <div class="col-sm-4 col-xs-12 form-group">
                        <label class="sr-only">Email</label>
                        <input name="email" class="form-control" type="email" placeholder="Email">
                    </div> <!-- /.form-group -->
                    <div class="col-sm-4 col-xs-12 form-group">
                        <label class="sr-only">Empresa</label>
                        <input name="empresa" class="form-control" type="text" placeholder="Empresa">
                    </div> <!-- /.form-group -->
                    <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                            <label class="sr-only">Mensagem</label>
                            <textarea class="message form-control" placeholder="Deixe sua mensagem!"></textarea>
                        </div> <!-- /.form-group -->
                        <input class="btn btn-sub" type="submit" value="Send Message">
                    </div>
                </form> <!-- /.row -->
            </section>
        </div> <!-- /.container -->
    </section> <!-- /#contact -->
    <!-- HHHHHHHHHHHHHHHHHH        Footer          HHHHHHHHHHHHHHHH -->

    <section id="footer" class="wrapper">
        <div class="container text-center">
            <div class="footer-logo">
                <h1 class="text-center animation-box wow bounceIn animated"><strong>Credit</strong>Survey</h1>
            </div>
            <ul class="social-icons text-center">
                <li class="wow animated fadeInLeft facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="wow animated fadeInRight googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="wow animated fadeInLeft github"><a href="#"><i class="fa fa-github"></i></a>
            </ul>

            <div class="copyright">
                <div class="credits">
                    Feito <i class="fa fa-heart"></i> por <a href="http://www.themewagon.com" target="_blank">CreditSurvey</a>
                </div>
                <div>©2015 Your Company, All Rights Reserved</div>
            </div>
        </div><!-- container -->
    </section>


    <!-- HHHHHHHHHHHHHHHHHH        Open/Close          HHHHHHHHHHHHHHHH -->
    <div class="overlay overlay-hugeinc">
        <button type="button" class="overlay-close">Fechar</button>
        <nav>
            <ul>
                <li class="hideit"><a href="#header">Inicio</a></li>
                <li class="hideit"><a href="#bigfeatures">Sobre</a></li>
                <li class="hideit"><a href="#speciality">Módulos</a></li>
                <li class="hideit"><a href="#features">Planos</a></li>
                <li class="hideit"><a href="#pricing">Preços</a></li>
                <!-- <li class="hideit"><a href="#team">Team</a></li> -->
                <li class="hideit"><a href="#section-login">Login</a></li>
                <li class="hideit"><a href="#section-contato">Contato</a></li>
            </ul>
        </nav>
    </div>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <!--<script src="js/jquery.ajaxchimp.min.js"></script>-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/script.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(document).ready(function(){
            $(".hideit").click(function(){
                $(".overlay").hide();
            });
            $("#trigger-overlay").click(function(){
                $(".overlay").show();
            });
        });
    </script>
    <script>
        $(document).ready(function(){

          var kawa = $('.top-bar');
          var back = $('#back-to-top');
          function scroll() {
             if ($(window).scrollTop() > 700) {
                kawa.addClass('fixed');
                back.addClass('show-top');

             } else {
                kawa.removeClass('fixed');
                back.removeClass('show-top');
             }
          }

          document.onscroll = scroll;
        });
    </script>
    <!--HHHHHHHHHHHH        Smooth Scrooling     HHHHHHHHHHHHHHHH-->
    <script>
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
    </script>
</body>
