@model IEnumerable<CampanhaBD.Model.CampanhaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Campanhas</h2>

<p>
    @Html.ActionLink("Nova Campanha", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinParcela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoBanco)
        </th>
        <th>Funcionalidades</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoBanco)
        </td>
        <td>
            @Html.ActionLink("Executar", "Executar", new { usuarioId = ViewBag.UsuarioID, camId = item.Id }) |
            @Html.ActionLink("Editar", "Editar", new { usuarioId = ViewBag.UsuarioID, camId = item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { usuarioId = ViewBag.UsuarioID, camId = item.Id }) |
            @Html.ActionLink("Excluir", "Excluir", new { usuarioId = ViewBag.UsuarioID, camId = item.Id })
        </td>
    </tr>
}
</table>