@model List<CampanhaBD.Model.ImportacaoModel>

@{
    ViewBag.Title = "Index";
}

<h3>Importações</h3>

<p>
    @Html.ActionLink("Nova Importação", "Importar")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Data
        </th>
        <th>
            Terminado
        </th>
        <th>
            N° Imp
        </th>
        <th>
            N° Atu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.Data)
        </td>
        <td>
            @if (item.Terminado)
            {
                <p>Sim</p>
            }
            else
            {
                <p>Não</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumImportados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAtualizados)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { impId = item.Id, usuarioId = ViewBag.UsuarioId }) <b>|</b>
            @if (!item.Terminado)
            {
                @Html.ActionLink("Importar Novamente", "Associar", new { impId = item.Id, usuarioId = ViewBag.UsuarioId })
            }
        </td>
    </tr>
}

</table>
